<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Validated Department</title>
    </head>
    <body>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        <table border="1">
            <thead>
                <tr>
                    <th> name </th>
                    <th> location </th>
                    <th> valid </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span th:text="${name}"></span></td>
                    <td><span th:text="${location}"></span></td>
                    <td><span th:text="${valid}"></span></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
