<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login page</title>
    </head>
    <body>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        <table>
            <thead>
                <tr>
                    <th> id </th>
                    <th> name </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${orgs.empty}">
                    <td colspan="2"> No Organizations Available </td>
                </tr>
                <tr th:each="org : ${orgs}">
                    <td><span th:text="${org.id}"> ID </span></td>
                    <td><span th:text="${org.name}"> Name </span></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
