<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Departments</title>
    </head>
    <body>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        <table border="1">
            <thead>
                <tr>
                    <th> name </th>
                    <th> location </th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${departments.empty}">
                    <td colspan="2"> No Departments Available </td>
                </tr>
                <tr th:each="item : ${departments}">
                    <td><span th:text="${item.name}"></span></td>
                    <td><span th:text="${item.location}"></span></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
