<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
</head>
    <body>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        <table border="1">
            <thead>
                <tr>
                    <th> name </th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${employees.empty}">
                    <td colspan="3"> No Employees </td>
                </tr>
                <tr th:each="item : ${employees}">
                    <td><span th:text="${item.name}"></span></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
